/*  Universal Styles  */
html {
  font-family: Verdana, sans-serif;
  font-size: 16px;
}

h1, h2, h3 {
  font-weight: bold;
}

h1  {
  font-size: 3rem;
}

h2  {
  font-size: 2.5rem;
}

h3  {
  font-size: 1.5rem;
}

p {
  line-height: 1.8rem;
  font-size: 1.1rem;
}

img {
  width: 100%;
  overflow: auto;
}
.container {
  display: flex;
  width: auto;
}

.container .leftcol {
  width: 60%;
  object-fit: contain;
}

.container .rightcol {
  width: 40%;
  justify-content: left;
}

.column {
  display: flex;
  flex-direction: column;
  max-width: 33%;
}

.leftcol {
  display: flex;
  flex-direction: column;
  padding: 32px 24px;
}

.rightcol {
  display: flex;
  flex-direction: column;
  padding-top: 16px;
}

.rightcol .leftside {
  width: 35%;
  margin: 16px;
}

.rightcol .leftside img {
  width: 100%;
  overflow: auto;
}

.rightcol .rightside {
  width: 65%;
  margin: auto;
  padding-right: 16px;
  display: block;
}

.element {
  display: flex;
  height: auto;
  object-fit: scale-down;
}

.element .leftside {
  display: block;
  width: 35%;
}

.element .rightside {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: space-around;
  width: 65%;
}

.a_class {
  display: block;
  height: 420px;
  background-color: white;
  margin: 16px;
}

@media only screen and (max-width: 450px) {
  h1  {
    font-size: 2.5rem;
  }
  h2  {
    font-size: 2rem;
  }
  h3  {
    font-size: 1.5rem;
  }
  p {
    font-size: 1rem;
  }
  .container {
    display: block;
  }
  .container .leftcol {
    width: 100%;
    /*object-fit: contain;*/
    margin: 0;
    padding: 0;
  }
  .container .rightcol {
    display: block;
    width: auto;
    padding-left: 16px;
    padding-right: 16px;
  }
  .leftcol {
    margin: 0;
  }
  .rightcol {
    padding-top: 0;
  }
  .element {
    width: auto;
    display: block;
  }
  .element .leftside {
    width: auto;
  }
  .element .rightside {
    width: auto;
    padding: 16px 32px;
  }
  .element .rightside p {
    font-style: normal;
    font-size: 1rem;
  }
  .element .rightside a {
    padding: 16px 0;
    margin-bottom: 48px;
  }
}

/*  Header Styles  */
header {
  position: flex;
  top: 0;
  height: 64px;
  background-color: white;
  z-index: 20;
}

header .desktop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 24px;
}

header .mobile {
  display: none;
  align-items: center;*/
}

.desktop .logo {
  display: flex;
  align-items: center;
  font-size: 1.25rem;
}

.logo img {
  width: 32px;
}
.desktop ul {
  display: flex;
  justify-content: flex-end;
}

ul a {
  padding-left: 1rem;
  font-size: 1rem;
}

.mobile ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem 0;
}

@media only screen and (max-width: 450px) {
  header .desktop {
    display: none;
  }

  header .mobile {
    display: block;
  }
}
/*  Banner Styles  */
.banner {
  background-color: #EAEDED;
}

.rightcol h1 {
  padding-top: 20%;
  line-height: 1.2;
}

.rightcol p {
  padding-top: 10%;
  font-size: 1.75rem;
  font-weight: 550;
  line-height: 1.2;
}

.intro {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin-top: 16px;
}

button {
  background-color: black;
  color: white;
  margin-top: 24px;
  font-size: 1.5rem;
  padding-top: 8px;
  padding-bottom: 8px;
}

@media only screen and (max-width: 450px) {
  .rightcol h1 {
    margin: 32px 0px;
    padding: 0;
  }
  .rightcol p {
    padding-top: 0;
  }
  .intro {
    width: 100%;
    margin-top: 0;
  }
  .intro p {
    font-size: 1.2rem;
  }
  button {
    background-color: #7A7669;
    margin-top: 24px;
    margin-bottom: 32px;
    font-size: 1.5rem;
    padding-top: 8px;
    padding-bottom: 8px;
  }
}
/*  News styles */
.news {
  background-color: white;
}

.news p {
  padding-top: 1rem;
}

.news .leftcol h2 {
  padding-top: 32px;
}

.news .element:last-child {
  background-color: #EAEDED;
}

.rightside a {
  padding-top: 20px;
  color: blue;
}

#quoted {
  font-size: 0.75rem;
  line-height: 1rem;
}

@media only screen and (max-width: 450px) {
  .news .container .leftcol {
    display: none;
  }
  .leftside img {
    height: 250px;
    object-fit: cover;
  }
  .news .element:last-child {
    background-color: white;
  }

}
/*  Classes Styles  */
.classes {
  display: block;
  background-color: #EAEDED;
  padding: 32px 24px;
}

.classes h2 {
  display: flex;
  margin: 0 auto 16px auto;
  justify-content: center;
}

.classbucket {
  display: flex;
  flex-direction: row;
  margin: 0 40px;
}

.a_class h3 {
  padding: 16px;
}

.a_class p {
  padding: 8px 16px;
  /*line-height: 2rem;*/
}

/*  Thesis Styles  */
.thesis {
  display: block;
  background-color: white;
  padding: 32px 24px;
}

.thesis h2 { /* controls the thesis title */
  display: flex;
  justify-content: center;
}

.thesis .element:first-child {
  margin-top: 16px;
  background-color: #EAEDED;
}

.thesis .leftcol video {
  height: 510px;
  margin: 0;
  padding: 0;
  object-fit: fill;
}

.thesis .leftcol h3 {
  margin: 24px auto 8px 0;
}

/*  Footer Styles  */
footer {
  display: flex;
  padding: 24px 16px;
  width: 100%;
  align-content: center;
  justify-content: space-between;
  background-color: white;
}

footer ul {
  display: flex;
  justify-content: flex-end;
}
